.mainContent {
  width: 100%;
  height: auto;
  background-color: var(--glowny);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit ,minmax(500px, 1fr));
  z-index: 2;
}
.omnie {
  margin-top: 10%;
  width: calc(100% - 5%);
  padding-left: 5%;
}
.omnie p{
  font-size: 22px;
  margin: 10px;
}
.znaczniki {
  /* grid-column: span 2; */
  width: 100%;
  margin: 0px; 
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
}
.przesuwacz {
  margin-top: 10%;
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  animation: przesuwanie 10s linear infinite;
}
.znacznik {
  width: 10%;
  height: 100%;
  display: flex;
}
.znacznik img{
  width: 100%;
  -webkit-user-drag: none;
  user-drag: none;
}
.obszar {
  height: 30vh;
  background-color: var(--glowny);
}
@media only screen and (max-width: 1100px) {
  .mainContent { 
    grid-template-columns: 1fr;
  }
  .przesuwacz {
    width: 300vw;
  }
 }

  @keyframes przesuwanie {
      from {
          transform: translateX(0);
      }
      to {
          transform: translateX(-50%);
      }
   }