main {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--glowny);

}
.blok {
  margin-top: 5%;
  width: 30%;
  height: 80vh;
  margin-left: 5%;
  /* background-color: red; */
}
.blok p{
  font-size: 22px;
  margin: 10px;
}
@media only screen and (max-width: 1100px) {
  .blok {
    width: 80%;
  }
 }