/* Main Style */
.projectCreative {
  position: relative;
  width: 100%;
  height: 70%;
  background-color: var(--glowny);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.backgroundCreative {
    position: absolute;
    display: flex;
    align-items: center;
    width: 120%;
    height: 70%;
    overflow: hidden;
    transform: rotate(-3deg);
    left: -10%;
    z-index: 1;
}
.backgroundImageCreative {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  z-index: 0;
  overflow: hidden;
}
.backgroundImageCreative::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}
.backgroundCreativeGradient::before {
  content: "";
  position: absolute;
  bottom: -4%;
  left: 0;
  width: 120vw;
  height: 20vh;
  background: linear-gradient(to top, var(--glowny), transparent);
  pointer-events: none;
  z-index: 2;
}
.backgroundCreativeGradient::after {
  content: "";
  position: absolute;
  top: -4%;
  left: 0;
  width: 120vw;
  height: 20vh;
  background: linear-gradient(to top, var(--glowny), transparent);
  pointer-events: none;
  z-index: 2;
  transform: rotate(180deg);
}
.progressBarCreative {
  position: absolute;
  width: 100%;
  height: 5%;
  top: 0.1%;
  align-self: flex-start;
  background: linear-gradient(to right, white 50%, transparent 90%);
  z-index: 1;
}
/* Texts */
.placementCreativeElemets {
  position: absolute;
  width: 100%;
  height: 70%;
  align-items: center;

  display: flex;
  
  z-index: 2;
}
.left {
  width: 40%;
  margin-left: 20px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right {
  width: 50%;
  height: 500px;
}


.textPlacementCreative {
  position: absolute;
  left: 10%;
  top: 15%;
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;

  transform: rotate(3deg);
  z-index: 2;
  pointer-events: none;
}
.descriptionCreative {
  width: 500px;
  height: auto;
}
.descriptionCreative h1{
  pointer-events: all;
  margin: 0px;
}
.descriptionCreative p{
  font-size: 20px;
  font-weight: bold;
  pointer-events: all;
  margin-bottom: 0px;
}


.imagesCreative {
  position: relative;
  /* aspect-ratio: 16 / 9; */
  left: 100px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* top: 10%; */
  /* width: 100%;
  height: 100%; */
  z-index: 2;
  /* pointer-events: none; */
}
.image2 {
  /* margin-right: 20%; */
  position: absolute;
  height: 310px;
  width: 530px;
  border-radius: 22px;
  transition: 0.2s ease-in-out;
}
.image:hover{
  transform: scale(1.05);
}
.lista {
  position: absolute;
  transform: rotate(-3deg); 
  z-index: 2;

  width: 100%;
  height: 10%;
  /* bottom: 75%; */
  top: 85%;
}
.programy {
  position: relative;
  bottom: 50px;
  padding-left: 50px;
  /* width: 20%;
  height: 12%; */
  display: flex;
  
  gap: 20px;
}
.locationArrow {
  position: absolute;
  height: 100%;
  /* bottom:  -48px; */
  bottom: 100px;
  display: flex;
  align-items: end;
  font-size: 50px;
  left: 40px;
  transition: 0.5s ease-in-out;
  z-index: -1;
  animation: arow 3s ease-in-out infinite;
}
.programy img{
  /* auto -> 100% */
  position: relative;
  width: 100px;
  height: 100px;
  -webkit-user-drag: none;
  transition: 0.5s ease-in-out;
  user-drag: none;
}
.program.chosen:hover {
  margin-top: -10px;
}
/* .programy img:hover{
  margin-top: -10px;
} */
 @keyframes arow {
  0%  {bottom: 95px;}
  50% {bottom: 110px;}
  100% {bottom: 95px;}
 }

@media only screen and (max-width: 1100px) {
  .projectCreative {
    height: 60%;
  }
  .placementCreativeElemets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 96%;
    height: 50%;
  }
  .left {
    width: 100%;
    /* height: 50%; */
    /* margin-top: 20px; */
    margin-left: 0px;
  }
  .right {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .programy {
    padding-left: 20px;
  }
  .descriptionCreative {
    width: 100%;
    /* margin-left: 10px; */
  }
  .locationArrow {
    bottom: 75px;
  }
  .imagesCreative {
    /* margin: 0 auto; */
    width: 330px;
    height: 300px;
    left: 0px;
  }
  .image2 {
    height: 170px;
    width: 290px;
  }
  .programy img{
  /* auto -> 100% */
  width: 80px;
  height: 80px;
  }

  @keyframes arow {
  0%  {bottom: 68px;}
  50% {bottom: 80px;}
  100% {bottom: 68px;}
 }

}