/* Main Style */
.projectDev {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70%;
  background-color: var(--glowny);
  display: flex;
  align-items: center;
  overflow: hidden;
}
.backgroundDev {
  position: absolute;
  display: flex;
  width: 120%;
  height: 70%;
  overflow: hidden;
  transform: rotate(3deg);
  left: -10%;
}
.backgroundImageDev {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  z-index: 1;
  overflow: hidden;
}
.backgroundImageDev::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}
/* .backgroundGradientDev {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
} */
.backgroundGradientDev::before {
  content: "";
  position: absolute;
  bottom: -4%;
  left: 0;
  width: 120vw;
  height: 20vh;
  background: linear-gradient(to top, var(--glowny), transparent);
  pointer-events: none;
  z-index: 2;
}
.backgroundGradientDev::after {
  content: "";
  position: absolute;
  top: -4%;
  left: 0;
  width: 120vw;
  height: 20vh;
  background: linear-gradient(to top, var(--glowny), transparent);
  pointer-events: none;
  z-index: 2;
  transform: rotate(180deg);
}
/* Other */
.mascotDev {
  position: relative;
  height: 90%;
  left: 20%;
  align-self: flex-end;
  z-index: 1;
  -webkit-user-drag: none;
}
.progressBarDev {
  position: absolute;
  width: 100%;
  height: 5%;
  bottom: 0.1%;
  align-self: flex-end;
  background: linear-gradient(to right, white 50%, transparent 90%);
  z-index: 1;
}
/* Texts */
.textPlacementDev {
  position: absolute;
  display: flex;
  left: 54%;
  width: 100%;
  height: 100%;
  transform: rotate(-3deg);
  z-index: 2;
  pointer-events: none;
}
.descriptionDev {
  width: 500px;
  height: auto;
}
.descriptionDev h1{
  pointer-events: all;
}
.descriptionDev p{
  font-size: 20px;
  font-weight: bold;
  pointer-events: all;
}
.toolsDev {
  display: flex;
  align-items: center;
}
.toolsDev img{
  width: 30%;
  margin-right: 20px;
}
/* outside Arrows and dots */
.ElementsDev {
  position: absolute;
  width: 100%;
  height: 100%;
}
.arrowsDev {
  position: absolute;
  bottom: 17%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  font-size: 800%;
  z-index: 2;
}
.leftArrowDev {
  transform: rotate(3deg);
  margin-top: -5%;
}
.rightArrowDev {
 transform: rotate(3deg);
}
.leftArrowDev i, .rightArrowDev i{
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.leftArrowDev i:hover, .rightArrowDev i:hover {
  color: var(--glowny);
}
.dotsDev {
  position: absolute;
  bottom: 18%;
  width: 15%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  z-index: 3;
}
.dotDev {
  margin-right: 10px;
  margin-left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 22px;
  transition: 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}
.dotDev.active {
  cursor: auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.dotDev:not(.active):hover {
  background: color-mix(in srgb, var(--glowny) 40%, transparent);
}
@media only screen and (max-width: 1100px) {
  /* Main Style */
  .projectDev {
    height: 60%;
  }
  /* Other */
  .mascotDev {
    filter: brightness(0.7);
  }
  /* Texts */
  .textPlacementDev {
    left: 50%;
    width: 80%;
    height: 100%;
    transform: translateX(-50%) rotate(-3deg);
  }
  .descriptionDev {
    position: absolute;
    
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 75%;
  }
  .descriptionDev h1{
    margin: 0px;
  }
  .toolsDev img{
    width: 40%;
  }
  /* outside Arrows and dots */
  .dotsDev {
    width: 40%;
  }
  .arrowsDev {
    font-size: 600%;
  }
}