.page-bg {
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: 110% 110%;
  background-repeat: no-repeat;
  transition: opacity 2s ease-in-out;
  will-change: opacity;
  z-index: -1;
}
.informujacy {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
.informujacy::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100vw;
  height: 30vh;
  background: linear-gradient(to top, var(--glowny), transparent 100%);
  pointer-events: none;
  z-index: 2;
}
.wstawki {
  width: 100%;
  height: 100vh;
}
.napisy {
  margin-bottom: 10vh;
  margin-right: 2vw;
  position: fixed;
  right: 0%;
  bottom: 0%;
  text-align: end;
}
.napisy h1{
  font-size: 120px;
  padding: 0px;
  margin: 0px;
}
.sonic {
  overflow: hidden;
  /* position: relative; */
  align-self: flex-end;
  width: 100%;
  height: 260px;
  /* bottom: 0%;
  right: -120%; */
  transition: 1s linear;
  transform: translateX(100%);
}
.sonic img{
  height: 100%;
  -webkit-user-drag: none;
}
@media only screen and (max-width: 1100px) {
  .page-bg {
    background-size: cover;
  }
  .napisy h1{
    font-size: 80px;
  }
 }
