.page-bg {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 110%;
  height: 110%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  transition: opacity 2s ease-in-out;
  will-change: opacity;
  z-index: -1;
}
.page {
  position: relative;
  height: 100vh;
  overflow: hidden;

}
.informujacy {
  /* width: 100%; */
  /* height: 100vh; */
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
.page::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100vw;
  height: 30vh;
  background: linear-gradient(to top, var(--glowny), transparent 100%);
  pointer-events: none;
  z-index: 2;
}
.wstawki {
  width: 100%;
  height: 100vh;
}
.napisy {
  margin-bottom: 10vh;
  margin-right: 2vw;
  position: fixed;
  right: 0%;
  bottom: 0%;
  text-align: end;
}
.napisy h1{
  font-size: 120px;
  padding: 0px;
  margin: 0px;
}
.sonic {
  position: absolute;
  align-self: flex-end;
  width: 100%;
  height: 260px;
  bottom: 0%;
  right: 0%;
  transition: 1s linear;
  transform: translateX(100%);
}
.sonic img{
  height: 100%;
  -webkit-user-drag: none;
}
@media only screen and (max-width: 1100px) {
  .page-bg {
      left: -15%;
  }
  .napisy h1{
    font-size: 80px;
  }
 }
