.footer {
    position: relative;
    width: 100%;
    height: 30%;
    background-color: var(--glowny);
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
}
.wave  {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: end;
    z-index: 0;
}
.waveBaground {
  position: absolute;
  width: 100%;
  background-color: red;
}
.footer div{
    width: 33%;
    height: 100%;
    z-index: 1;
}
.backToUp {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.backToUp p{
    cursor: pointer;
}
.backToUp i{
    position: absolute;
    bottom: 10%;
    font-size: 300%;
    cursor: pointer;
}
.copyright {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}
.copyright p{
    margin: 2px;
}
 @keyframes arow {
  0%  {margin-bottom: 10px;}
  50% {margin-bottom: 20px;}
  100% {margin-bottom: 10px;}
 }
 .wave-inner {
  animation: waveMove linear infinite;
  will-change: transform;
}
.wave1 path {
  fill: #ffffff;
  opacity: 0.6;
}

.wave2 path {
  fill: #ffd1dc;
  opacity: 0.4;
}


/* różne prędkości */
.wave1 .wave-inner { animation-duration: 12s; opacity: 0.5; fill: #fff; }
.wave2 .wave-inner { animation-duration: 18s; opacity: 0.3; fill: #fff; }
.wave3 .wave-inner { animation-duration: 25s; opacity: 0.2; fill: #fff; }

/* 🔑 klucz: dokładnie 1440px = połowa całości */
@keyframes waveMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1440px);
  }
}