.menu {
  position: fixed;
  width: 14vw;
  min-width: 220px;
  max-width: 260px;
  height: 100vh;

  z-index: 3;
  transition: 0.5s ease-in-out;
}
.bodyMenu {
  width: 100%;
  height: 100%;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(30px);
  box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 0px 0px 20px 0px;
}
.miniMenuShow {
  position: fixed;
  width: 400px;
  height: 60px;

  display: flex;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(40px);
  box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.37);
  z-index: 3;

  margin-left: 120%;
  margin-top: 5%;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}
.miniMenuHidden {
  position: fixed;
  width: 60px;
  height: 60px;

  display: flex;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(40px);
  box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.37);
  z-index: 3;

  margin-top: 5%;
  margin-left: 100%;
  border-radius: 0px 20px 20px 0px;
  transition: 0.5s ease-in-out;

}
.strzalkaShow {
  width: 15%;
  min-width: 60px;
  height: 100%;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  border-radius: 20px 0px 0px 20px;
  cursor: pointer;
}
.strzalkaHidden {
  width: 15%;
  min-width: 60px;
  height: 100%;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
}
.linki {
  width: 85%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
.linki a{
  text-decoration: none;
  cursor: pointer;
  width: auto;
  padding-right: 1rem;
  color: white;
}
.linki a:hover{
  color: var(--glowny);
}
.strzalkaHidden i,
.strzalkaShow i{
  transition: 0.3s ease-in-out;
}
.strzalkaHidden:hover i,
.strzalkaShow:hover i {
  color: var(--glowny);
}
.nameWebsite {
  width: 100%;
  height: 130px;
  font-family: Pixel;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}
.element {
  margin-top: 15%;
  margin-left: 8%;
  height: 4vh;
  width: 100%;
  gap: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.element:hover a,
.element:hover i{
  color: var(--glowny);
  font-size: 24px;
}
.nameWebsite h1{
  padding: 0px;
  margin: 0px;
}
.nameWebsite p{
  padding: 0px;
  margin: 0px;
  font-weight: bold;
}
.hiddenContent a{
  color: white;
  font-size: 19px;
  transition: 0.5s ease-in-out;
}
.hiddenContent i {
  transition: 0.5s ease-in-out;
}
@media only screen and (max-width: 1100px) {
  .miniMenuShow {
    width: 60px;
    height: 50px;
    margin-top: 5%;
    margin-left: 100%;
    border-radius: 0px 20px 20px 0px;
  }
  .strzalkaShow {
    border-radius: 0px 20px 20px 0px;
  }
  .miniMenuHidden {
    height: 50px;
  }
 }
